In [19]:
import pandas as pd
import numpy as np

series =pd.Series([1.0,2,3,45,5], dtype=np.int16)
print(series)
series =pd.Series(['grass','tree'])
series =pd.Series([True, False, True])
series =pd.Series([2,5,7,None, np.nan, 'g'])
print(series)

0     1
1     2
2     3
3    45
4     5
dtype: int16
0       2
1       5
2       7
3    None
4     NaN
5       g
dtype: object

In [55]:
series =pd.Series({'name':6, 'course':8, 'sex': 9}, dtype= np.int32)
series =pd.Series(np.array([1,5,8,5]))
series =pd.Series(np.array((1,3,4,5,67,8)))
numpy_series =series.to_numpy()
numpy_series =np.asarray(series)
print(numpy_series)
print(type(numpy_series))
                
dates =pd.date_range('20200313', periods=15, freq ='2H')
date =pd.date_range('20220423',periods =5,  freq ='2H')
2
series =pd.Series([1,2,3,4,5], index =date)
print(date)

[ 1  3  4  5 67  8]
<class 'numpy.ndarray'>
DatetimeIndex(['2022-04-23 00:00:00', '2022-04-23 02:00:00',
               '2022-04-23 04:00:00', '2022-04-23 06:00:00',
               '2022-04-23 08:00:00'],
              dtype='datetime64[ns]', freq='2H')

In [56]:
series =pd.Series({'a':1, 'b':2,'c':3,'d':4})
print(series)

a    1
b    2
c    3
d    4
dtype: int64

In [72]:
###################################Dataframes
df =pd.DataFrame([1,2,3,4])
df =pd.DataFrame(np.array([3,5,6,7,8]))
df=pd.DataFrame({'one':[1,2,3], 'two': [2,3,4], 'three': [3,4,5]}, index=['1st', '2nd', '3rd'])
# df=pd.DataFrame({'one':[1], 'two': [2], 'three': [3]}, index=['1st', '2nd', '3rd'])
df =pd.DataFrame({'one': {'row1': 2, 'row2':5, 'row3':7}, 'two': {'row1':4, 'row2': 6, 'row3':7}})
df =pd.DataFrame({'one':pd.Series([2,3,4,5]), 'two':pd.Series([9,8,7,5])}, index =['row1', 'row2','row3', 'row4'])
print(df)

      one  two
row1  NaN  NaN
row2  NaN  NaN
row3  NaN  NaN
row4  NaN  NaN